@{
 ViewData["Title"] = "Aboutus";
}

 <div class="row" >
 <div class="col-sm-5" style="background-color:lightgray"><br /><br />
 <h1 style="margin-top:100px;text-align:center"><strong>About Us</strong></h1>
 <p>We are here to solve the recent problem of kathmandu city i.e. finding romm,flat or house for settlement. This system helps people easily to find required rooms/houses easily.</p>
 <button type="button" class="btn btn-success"> <a style="color:white;">
 Read More</a>
</button>
 </div>
 <div class="col-sm-7" >
 <img src="~/home_image/house8.jpg" alt="Teams" style="height:500px; width:749px;" />
 </div>
 </div>

 <h5>Any Suggestion</h5>
 <form id="form1" name="form1" method="post" action="">
  <label>
    <textarea name="input" id="input" cols="45" rows="5"></textarea>
  </label>
</form>
<form id="form2" name="form2" method="post" action="">
  <label>
    <input type="submit" name="export" id="export" value="Submit" />
  </label>
</form>`